name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Application
    runs-on: ubuntu-latest

    env:
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      EMAIL_HOST_PASSWORD: ${{ secrets.EMAIL_HOST_PASSWORD }}
      EMAIL_HOST_USER: ${{ secrets.EMAIL_HOST_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_DB: ecommerce_db
      POSTGRES_HOST: 37.60.239.12
      REDIS_PORT: 6380
      CELERY_BROKER_URL: redis://redis:6380/0
      CELERY_RESULT_BACKEND: redis://redis:6380/0
      DJANGO_PORT: 8010
      ALLOWED_HOSTS: ecommerce.igwilo.com,www.ecommerce.igwilo.com
      CORS_ALLOWED_ORIGINS: https://igwilo.com,https://www.igwilo.com,https://ecommerce.igwilo.com,ecommerce.igwilo.com

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Docker Image
        run: |
          docker build -t ecommerce-app .

      - name: Copy Docker Compose File to Server
        uses: appleboy/scp-action@v0.1.8
        with:
          host: 37.60.239.12
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ./docker-compose.yaml
          target: ~/ecommerce/docker-compose.yaml

      - name: Ensure Directories and Create .env File
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 37.60.239.12
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Ensure static and media directories exist
            mkdir -p /home/devops/ecommerce/staticfiles
            mkdir -p /home/devops/ecommerce/media

            # Create .env file
            cat > ~/ecommerce/.env <<EOF
            DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}
            DEBUG=False
            ALLOWED_HOSTS=ecommerce.igwilo.com,www.ecommerce.igwilo.com
            DJANGO_PORT=8010
            REDIS_PORT=6380
            POSTGRES_USER=${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_DB=ecommerce_db
            POSTGRES_HOST=37.60.239.12
            CELERY_BROKER_URL=redis://redis:6380/0
            CELERY_RESULT_BACKEND=redis://redis:6380/0
            EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
            EMAIL_HOST='smtp.gmail.com'
            EMAIL_PORT=587
            EMAIL_USE_TLS=True
            EMAIL_HOST_USER=${{ secrets.EMAIL_HOST_USER }}
            EMAIL_HOST_PASSWORD=${{ secrets.EMAIL_HOST_PASSWORD }}
            DEFAULT_FROM_EMAIL=noreply@igwilo.com
            EOF

            # Secure the .env file
            chmod 600 ~/ecommerce/.env

      - name: Deploy Services with Docker Compose
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 37.60.239.12
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/ecommerce
            docker-compose down
            docker-compose up -d
